<div class="container">
    <div class="ss">
        <h2>LOGIN</h2>
        <div class="card">
            <div class="img">
                <img src="../../assets/img/8550547.jpg" alt="">
            </div>
            <form class="form"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
               
             
                   
                      <input   formControlName="email" placeholder="Username">
                               
                      <input  formControlName="password" placeholder="Password">
                   
                      
                    <button type="submit">Submit</button>
                    <a routerLink="/register" class="btn btn-link">register</a>
                    <a href="">Forget Password ?</a>
                 
        
        
        
        
        
          
            </form>
        </div>
    
    </div>
   
    
    
</div>