<div class="container">
    <div class="ss">
        <h2>LOGIN</h2>
        <div class="card">
            <div class="img">
                <img src="../../assets/img/8550547.webp" alt="">
            </div>
            <form class="form"  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
               
             
                   
                      <input type="email"  formControlName="email" required   class="form-control"  placeholder="Username">
                    <!-- <div class="error" *ngIf="f['email'].invalid">
                        
                    </div>  -->
                        <div class="error" *ngIf="(loginForm.get('email')?.invalid && loginForm.get('email')?.touched) || loginForm.get('email')?.dirty">
                        
                            <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Email address is required !</small>
                            <small class="text-danger" *ngIf="loginForm.get('email')?.errors?.['pattern']">Email address is invalid !</small>
                        </div>

                      <input type="password"  formControlName="password" required placeholder="Password">
                      <div class="error" *ngIf="(loginForm.get('password')?.invalid && loginForm.get('password')?.touched) || loginForm.get('password')?.dirty">
                        <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">password is required !</small>
                    </div>
                      
                    <button type="submit">Submit</button>
                    <a routerLink="/register" class="btn btn-link">register</a>
                    <a href="">Forget Password ?</a>
                 
        
        
        
        
        
          
            </form>
        </div>
    
    </div>
   
    
    
</div>