
:host ::ng-deep .toolbar  {
  color: #ee1818;
  /* background-color: #ffe7dc;
   */
   background-color: transparent;
  width: 100%;
  height: 5rem;
  display: flex;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: thin;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.toolbar h3{
  margin-left:2rem;
}
a{
  border: none;
  text-decoration: none;
  color: initial;
  margin-right: 2rem;
}
.loginButton{
  border: none;
  background-color: #f13f3c;
  height: 2rem;
  border-radius: 1rem;
  width: 4rem;
  color: antiquewhite;
  margin-right: 3rem;
  box-sizing: content-box;
}
.avatar{
    justify-items: center;
    height: 45px;
    width: 45px;
    background-size: cover;
    /* background-image: url(); */
    background-position: top center;
    border-radius: 50%;
    background-color: #06d6a0;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px 0px;
}

.toolbar{
    background-color: transparent;
}
/* .banner-back{
    height: 50rem;
    width: 40rem;
    background-color: #ffe7dc;
    transform: rotate(-48deg);
    right: -5rem;
    top: -13rem;
    position: absolute;
    border-radius: 12rem 4rem 2rem 26rem;
    z-index: -1;
} */

/* .italianBanner img{
  border-radius: 54rem 35rem 61rem 43rem;
  transform: rotate(33deg);
  width: 30rem;
} */
.italianBanner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.caption{
  /* width: 30rem; */
}
.caption h1{
  color: #f13f3c;
}
.caption h4{
    font-family: 'Rockwell regular', monospace;
    line-height: 2rem;
    letter-spacing: 1px;
    font-weight: normal;
    width: 30rem;
}


.imagalign{
  display: grid;
}

.category{
  margin: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

  .card{
    width: 15rem;
    text-align: center;
    padding: 1rem;
    color: #f13f3c;
  }

  .card img{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
  }
  .categoryfield h2{
    color: #ee1818;
    /* font-weight: normal; */
    margin-left: 5rem;
    font-family: rockwell;
    font-weight: normal;
    
  }
  .categoryfield{
  margin-top: 6%;
  }
  .titleandsearch{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .search{
    position: relative;
    right: 3rem;
    display: inline-flex;
    background-color: #fff0e9;
    border-radius: 1rem;
    height: 2rem;
    align-items: center;
    color: #f35450;
  
  }
  .search input{
    background-color: #ffe7dc;
    border: none;
    width: 20rem;
    border-radius: 1rem;
    text-align: center;
    font-family: rockwell;
    height: 2rem;
    color: #f35450;
   
  
  }
  .search input::placeholder{
    color: #f35450;
    
  }
  .material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
.productFeild{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5rem;

}
.productcard{
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 14rem;
  margin: 1rem;
  border: thin;
  border-style: ridge;
  text-align: center;


}
.productcard img{
height: 10rem;
width: 12rem;
}
.productCardCaption{
  text-align: center;
  background-color: #ffe7dc;
  color: #de4d49;
  height: inherit;
}