
<div class="cont">
  <div class="toolbar">
    <h3>Recipee</h3>
    <span></span>
    <div class="links">
      <a href="">Home</a>
      <a routerLink="/category">Category</a>
      <a href="">Recipe Blog</a>
      <a href="">Review</a>
      <a href="">About us</a>
      <button class="loginButton">Log in</button>
    </div>

    
  </div>
  <div class="page">
    <div class="banner-back">
      <!-- css background -->
    </div>
    <div class="italianBanner">
     
     <div class="caption">
      <h1>ITALIAN RECIPE</h1>  
      <H4>Over 50 popular best italian recipes including comforting pasta, pizza, soup, salad, chicken, beef, appetizers, bread and more delicious italian food!</H4>
     
     </div>
     <div class="imagalign">
      <span style="height: 5rem;"></span>
      <img src="../../assets/img/Italian Baked Meatballs.jpg" alt="">
     </div>
     
      
    </div>
    <div class="categoryfield">

      <div class="titleandsearch">
        <h2>
          Categories
        </h2>
        <div class="search">
          <input type="search" placeholder="Search for more" name="search" id="">
          <span class="material-symbols-rounded">
            search
            </span>
        </div>
       
      </div>
  
      <div class="category">
        <div class="card">
          <img src="../../assets/img/Arugula & Mushroom Breakfast Pizza.jpg" alt="">
          <h3>BreakFast</h3>
        </div>
        <div class="card">
          <img src="../../assets/img/italian lunch.jpeg" alt="">
          <h3>Lunch</h3>
        </div>
        <div class="card">
          <img src="../../assets/img/italian snacks.jpeg" alt="">
          <h3>Snacks</h3>
        </div>
        <div class="card">
          <img src="../../assets/img/Vegetable Lasagna.jpeg" alt="">
          <h3>Dinner</h3>
        </div>
      </div>

      <div class="productFeild">
        <div class="productcard">
          <img src="../../assets/img/Vegetable Lasagna.jpeg" alt="">
          <div class="productCardCaption">
            <h3>Simple Italian Biscuit</h3>

          </div>
          </div>
          <div class="productcard">
            <img src="../../assets/img/Vegetable Lasagna.jpeg" alt="">
            <div class="productCardCaption">
              <h3>Simple Italian Biscuit</h3>
  
            </div>
            </div>
            <div class="productcard">
              <img src="../../assets/img/Vegetable Lasagna.jpeg" alt="">
              <div class="productCardCaption">
                <h3>Simple Italian Biscuit</h3>
    
              </div>
              </div>
              <div class="productcard">
                <img src="../../assets/img/Vegetable Lasagna.jpeg" alt="">
                <div class="productCardCaption">
                  <h3>Simple Italian Biscuit</h3>
      
                </div>
                </div>
                <div class="productcard">
                  <img src="../../assets/img/Vegetable Lasagna.jpeg" alt="">
                  <div class="productCardCaption">
                    <h3>Simple Italian Biscuit</h3>
        
                  </div>
                  </div>
                  <div class="productcard">
                    <img src="../../assets/img/Vegetable Lasagna.jpeg" alt="">
                    <div class="productCardCaption">
                      <h3>Simple Italian Biscuit</h3>
          
                    </div>
                    </div>
      </div>
  
    
    </div>
  
    </div>

</div>
