
:host ::ng-deep .toolbar  {
  color: #ee1818;
  /* background-color: #ffe7dc;
   */
   background-color: transparent;
  width: 100%;
  height: 5rem;
  display: flex;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: thin;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.toolbar h3{
  margin-left:2rem;
}
a{
  border: none;
  text-decoration: none;
  color: initial;
  margin-right: 2rem;
}
.loginButton{
  border: none;
  background-color: #f13f3c;
  height: 2rem;
  border-radius: 1rem;
  width: 4rem;
  color: antiquewhite;
  margin-right: 3rem;
  box-sizing: content-box;
}
.avatar{
    justify-items: center;
    height: 45px;
    width: 45px;
    background-size: cover;
    /* background-image: url(); */
    background-position: top center;
    border-radius: 50%;
    background-color: #06d6a0;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px 0px;
}

.toolbar{
    background-color: transparent;
}
/* .banner-back{
    height: 50rem;
    width: 40rem;
    background-color: #ffe7dc;
    transform: rotate(-48deg);
    right: -5rem;
    top: -13rem;
    position: absolute;
    border-radius: 12rem 4rem 2rem 26rem;
    z-index: -1;
} */

/* .italianBanner img{
  border-radius: 54rem 35rem 61rem 43rem;
  transform: rotate(33deg);
  width: 30rem;
} */
.italianBanner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vw;
}
.caption{
  width: 30vw;
  /* text-shadow: 5px 5px 5px #2327; */
}
.caption h1{
  color: #f13f3c;
  text-transform: capitalize;
  font-size: 3vw;
}
.caption h4{
    font-family: 'Rockwell regular', monospace;
    line-height: 2.5vw;
    letter-spacing: 1px;
    font-weight: normal;
    width: 34vw;
    text-align: justify;
}


.imagalign{
  display: grid;
}
.imagalign img{
  width:45vw;
  height: 25vw;
  box-shadow: 5px 0px 15px 0px #2325; 
}

.category{
  margin: 2vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

  .card{
    width: 15vw;
    text-align: center;
    padding: 1rem;
    color: #f13f3c;
  }

  .card img{
    width: 10vw;
    height: 10vw;
    border-radius: 5vw;
  }
  .categoryfield h2{
    color: #ee1818;
    /* font-weight: normal; */
    margin-left: 5vw;
    font-family: rockwell;
    font-weight: normal;
    
  }
  .categoryfield{
  margin-top: 6%;
  font-size: 1.2vw;
  }
  .titleandsearch{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .search{
    position: relative;
    right: 3vw;
    display: inline-flex;
    background-color: #fff0e9;
    border-radius: 1rem;
    height: 2vw;
    align-items: center;
    color: #f35450;
    
  
  }
  .search input{
    background-color: #ffe7dc;
    border: none;
    width: 20vw;
    border-radius: 1rem;
    text-align: center;
    font-family: rockwell;
    height: 2vw;
    color: #f35450;
    font-size: 1vw;
   
  
  }
  .search input::placeholder{
    color: #f35450;
    
  }
  .material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
.productFeild{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5vw;

}
.productcard{
  display: flex;
  flex-direction: column;
  width: 13vw;
  height: 100%;
  margin: 1vw;
  text-align: center;
  
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px #2325;



}
.productcard img{
  height: 10vw;
  width: 13vw;
}
.productCardCaption{
  text-align: center;
  /* background-color: #ffe7dc; */
  background-color: #efedec;
  color: #de4d49;
}

@media(max-width: 600px){
  .italianBanner{
    flex-direction: column-reverse;
    margin: 0;
  }
  .imagalign img{
    width: 100%;
    height: 100%;
  }
  .caption{
    width: 100%;
  }
  .caption h1{
    font-size: 7vw;
    text-align: center;
  }
  .caption h4{
    width: 95%;
    line-height: 4vw;
    padding: 2%;
    font-size: 3vw;
  }
  .productcard{
    width: 38vw;
  height: 42vw;
  margin: 3vw;
  }
  .productcard img{
    border-radius: 5px 5px 0 0;
    height: 30vw;
    width:38vw;
  }
  .productCardCaption{
    background-color: #efedec;
  font-size: 2.5vw;
  border-radius: 5px 5px 0 0;

  }
  .material-symbols-rounded{
    font-size: 3vw;
  }
  .search,.search input{
    height: 3vw;
    font-size: 2vw;
  }

}