

<mat-drawer-container class="containere" [hasBackdrop]=true>
    <mat-drawer #drawer class="drawer"  position="end">
      <div class="banner">
        <div class="imgname">
          <img class="userimg" src="../assets/img/17539364_5881910.png" alt=""><h4>{{userdata?.username}}</h4><span class="material-symbols-outlined">
            edit
            </span>
        </div>
     
      </div>
      <button class="drawerbutton" >Favorites</button>
      <button class="drawerbutton" (click)="logout()">LOG OUT</button>
    
    </mat-drawer>
    <mat-drawer-content>
      <div class="toolbar" >
        <h3 routerLink="/" style="cursor: pointer;">Recipee</h3>
        <span></span>
        <div class="links">
          <a href="">Home</a>
          <a routerLink="/search">Recipes</a>
          <!-- <a href="">Recipe Blog</a>
          <a href="">Review</a>
          <a href="">About us</a> -->
          <button *ngIf="!token" class="loginButton" routerLink="/login">Log in</button>
          <span  *ngIf="token" style="vertical-align:middle" class="material-symbols-outlined"  (click)="drawer.toggle()">
            account_circle
            </span>
          
        
        </div>
      
      </div>
      <router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
   <div class="row">
     <div class="footer-col" style="visibility: hidden;">
       <h4 >company</h4>
       <ul>
         <li><a href="#">about us</a></li>
         <li><a href="#">our services</a></li>
         <li><a href="#">privacy policy</a></li>
         <li><a href="#">affiliate program</a></li>
       </ul>
     </div>
     <div class="footer-col"  style="visibility: hidden;">
       <h4>get help</h4>
       <ul>
         <li><a href="#">FAQ</a></li>
         <li><a href="#">shipping</a></li>
         <li><a href="#">returns</a></li>
         <li><a href="#">order status</a></li>
         <li><a href="#">payment options</a></li>
       </ul>
     </div>
     <div class="footer-col"  style="visibility: hidden;">
       <h4>online shop</h4>
       <ul>
         <li><a href="#">watch</a></li>
         <li><a href="#">bag</a></li>
         <li><a href="#">shoes</a></li>
         <li><a href="#">dress</a></li>
       </ul>
     </div>
     <div class="footer-col">
       <h4>follow us</h4>
       <ul style="margin-bottom: 1rem;">
        <li><a href="#">support@recipee.in</a></li>
 
      </ul>
       <div class="social-links">
         <a href="#"><i class="fab fa-facebook-f"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
         <a href="#"><i class="fab fa-instagram"></i></a>
         <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
         <a href="#"><i class="fab fa-linkedin-in"></i></a>
       </div>
     </div>
   </div>
  </div>
</footer>   

    </mat-drawer-content>
  </mat-drawer-container>

 
