

<mat-drawer-container class="containere" [hasBackdrop]=true>
    <mat-drawer #drawer class="drawer"  position="end">
      <div class="banner">
        <div class="imgname">
          <img class="userimg" src="../assets/img/17539364_5881910.webp" alt=""><h4>{{userdata?.username}}</h4>
          <!-- <span class="material-symbols-outlined">
            edit
            </span> -->
            <!-- <img src="../assets/img/edit-alt-2-svgrepo-com.svg" alt=""> -->
        </div>
     
      </div>
      <button class="drawerbutton" >Favorites</button>
      <button class="drawerbutton" (click)="logout()">LOG OUT</button>
    
    </mat-drawer>
    <mat-drawer-content>
      <div class="toolbar" >
        <h3 routerLink="/" style="cursor: pointer;">Recipee</h3>
        <span></span>
        <div class="links">
          <a href="">Home</a>
          <a routerLink="/search">Recipes</a>
          <!-- <a href="">Recipe Blog</a>
          <a href="">Review</a>
          <a href="">About us</a> -->
          <button *ngIf="!token" class="loginButton" routerLink="/login">Log in</button>
         
            <img class="accountIcon" *ngIf="token"  (click)="drawer.toggle()" src="../assets/img/user-svgrepo-com.svg" alt="">
          
          <!-- <span  *ngIf="token" style="vertical-align:middle" class="material-symbols-outlined"  (click)="drawer.toggle()">
            account_circle
            </span>
           -->
        
        </div>
      
      </div>
      <ng-http-loader></ng-http-loader>
      <router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
   <div class="row">
     <div class="footer-col">
       <h4>follow us</h4>
       <ul style="margin-bottom: 1rem;">
        <li><a href="#">support@recipee.in</a></li>
 
      </ul>
       <div class="social-links">
         <a href="#"><i class="fab fa-facebook-f"></i></a>
         <a href="#"><i class="fab fa-twitter"></i></a>
         <a href="#"><i class="fab fa-instagram"></i></a>
         <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
         <a href="#"><i class="fab fa-linkedin-in"></i></a>
       </div>
     </div>
   </div>
  </div>
</footer>   

    </mat-drawer-content>
  </mat-drawer-container>

 
