.banner{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.img,.bannerImg, .bannerContent{
    width: 100%;

}
.recipename{
    display: none;
}
.bannerContent{
    margin-left: 5vw;
    font-family: 'Fira Sans', sans-serif;
    /* background-color: #e8f0fe;
    text-shadow: 5px 5px 5px #2327; */
}
.bannerContent h1{

    color: #f13f3c;
    font-family: 'Roboto Slab', serif !important;
    font-size: 3vw;
}
.ingredientImg{
    width: 4vw;
}
.bannerContent h4{
    
    line-height: 2vw;
    letter-spacing: 1px;
    font-weight: normal;
    width: 95%;
    text-align: justify;
    
    

}
.additional{
    display: flex;
    align-items: center;
}
.duration{
    display: flex;
    align-items: center;
    margin: 1rem;
    background-color: #e8f0fe;
    border-radius: 1rem;
    width: 6rem;
    
}
.difficultyImg{
    width: 40%;
}
.likes{
    margin: 2vw;
}
.difficulty-moderate{
    /* background-color: orange; */
    /* height: 2rem; */
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    color: orange;
    width: 5rem;
    
}
.difficulty-easy{
    /* background-color: green; */
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    width: 5rem;
    color: #4ccc28;
}
.difficulty-hard{
    /* background-color: red; */
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;    
    color: red;
    width: 5rem;
}

.img{
    margin:3vw ;
    
}
.bannerImg{
    box-shadow: 5px 0px 15px 0px #2325;
}
.ingredientFeild{
    margin: 5vw;
    font-family: 'Fira Sans', sans-serif;
}
.ingredientFeild h2{
    color: #f13f3c;
    font-family: 'Josefin Sans', sans-serif;
}
.ingredient{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.ingreList{
         /* background-color: #e8eeec; */
         height: 3rem;
         display: flex;
         align-items: center;
         border-radius: 5px;
        color: green;
        margin: 1rem;
        box-shadow: 5px 5px 10px #ccc7c7;
        padding: 1vw;
}

.directionFeild{
    margin: 5vw 5vw 10vw;
    font-family: 'Fira Sans', sans-serif;
}
.directionFeild h2{
    color: #f13f3c;
    font-family: 'Josefin Sans', sans-serif;
}

.instruct{
    margin: 2vw;
    box-shadow: 0px 0px 5px #ccc7c7;
    border-radius: 5px;
    padding: 2vw;
}


@media(max-width: 600px){
    .banner{
        flex-direction: column-reverse;
        position: relative;
    }
    .bannerContent{
        width: 100%;
        position: relative;
        justify-content: center;
        display: flex;
        margin: 0;
      
    }
    .recipename{
        display: flex;
        color: #f13f3c;
        font-family: 'Roboto Slab', serif !important;
        font-size: 5vw;
        width: 100%;
        /* box-shadow: 0px 2px 5px #9d9a9a;
        position: absolute; */
        /* background-color: white; */
        bottom: -10px;
        /* text-align: center; */
        height: 20%;
        align-items: center;
        justify-content: center;
    }
    .bannerContent h1{
        display: none;
        font-size: 5vw;
        text-align: center;
    }
    .bannerContent h4{
       display: none;
        line-height: 6vw;
        text-align: justify;
        font-size: 4vw;
    }
    .additional{
        width: 80%;
        box-shadow: 5px 2px 5px #9d9a9a;
        border-radius: 0 0 2vw 2vw;
        justify-content: space-between;
    }
    .img{
        margin: 0;
        width: 100%;
        position: relative;
    }

    .difficulty-easy,.difficulty-hard,.difficulty-moderate{
        width: 15vw;
        font-size: 4vw;
    }
    .duration{
        width: 20vw;
        font-size: 4vw;
    }
    .material-symbols-outlined{
        font-size: 5vw;
    }
    .ingredientFeild h2{
        font-size: 5.5vw;
    }
    .ingredientFeild p{
        font-size: 3vw;
    }
    .ingreList{
        padding: 2vw;
    }
    .instruct{
        margin: 5vw;
        padding: 3vw;
    }
    .ingredient{
        display: inline;
    }
    .ingredientImg{
        width: 10vw;
    }
    .instruction {
        font-size: 4vw;
    }
}

