
input,
mat-select {
  height: 2vw;
  border: none;
  width: 100%;
  margin: 1vw;
  border-radius: 4px;
  background-color: #e8f0fe;
  font-size: 0.9vw;
  overflow: hidden;
  display: grid;
  align-content: center;

}

input:focus {
  border-bottom: 2px;
  outline: none;
  border: aquamarine;
  border-bottom-style: groove;
}

.filterRecipe {
  margin: 5vw 5vw 0 0;
  display: flex;
  align-items: center;
}

.filterRecipe button {
  border: none;
  background-color: #359e47;
  color: aliceblue;
  border-radius: 10px;
  width: 4vw;
  height: 2vw;
  font-size: 1vw;
  margin: 0 0.5vw;
}
.filterField{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


@media(max-width: 600px){
  input, mat-select{
    width: 40%;
    margin: 1vw;
    padding: 2vw;
    font-size: 2vw;
  }
  
  .filterRecipe{
    margin: 5vw;
    flex-wrap: wrap;
  
  }
  
  .filterRecipe button{
    width: 10vw;
    height: 4vw;
    font-size: 2vw;
  }
  
}