
<div class="containe">
  <div class="page">
    <img class="greenleaves" src="../assets/img/green-leaves.webp" alt="">
    <img class="foodbanner" src="../assets/img/delicious-food.webp" alt="">
    <img class="chillibanner"src="../assets/img/red-chili-pepper.webp" alt="">
    <img class="tomatobanner"src="../assets/img/sliced-tomato.webp" alt="">
    <img class="basilleaf"src="../assets/img/basil-leaf.webp" alt="">
    <div class="bannercontent">
      <h1>Experience The <br> <span style="color: #ee1818;">
        Delicious Recipe
      </span>  At <br>Every Bite Of  Your Food</h1>
      
      <h4>Discover delicious recipes that inspire. Cook with confidence using our detailed instructions. Elevate your meals and indulge in culinary delights.</h4>
    </div>
    
  </div>
  <div class="categoryfield">

    <div class="titleandsearch">
      <h2>
        Categories
      </h2>
      <!-- <div class="search">
        <input type="search" placeholder="Search for more" name="search" id="">
        <span class="material-symbols-rounded">
          search
          </span>
      </div> -->
     
    </div>

    <div class="category">
      <button class="categorybutton left"id="slideLeft" (click)="scrollLeft('catslist')"  >
        <!-- <span class="material-symbols-outlined">
        chevron_left
        </span> -->
        <img src="../../assets/img/arrow-prev-small-svgrepo-com.svg" alt="">
      </button>
      
      <div class="conts"#catslist id="conts">
   
          <div *ngFor="let cat of category" >
            <div class="card" *ngIf="cat.active">
              <a routerLink="/category/{{cat.id}}">
                <img src="{{cat.img}}" alt="">
                <h3>{{cat.title}}</h3>
              </a>
    
            </div>
          </div>
        
         
        </div>
       
  
      
      <button class="categorybutton right"id="slideRight" (click)="scrollRight('catslist')">
        <!-- <span class="material-symbols-outlined">
        chevron_right
        </span> -->
        <img src="../../assets/img/arrow-next-small-svgrepo-com.svg" alt="">
      </button>
    </div>
  
  </div>
  <div class="popularRecipes">

    <h2>
      Popular Recipe
    </h2>
    <div class="recipes">
      <button class="categorybutton left"id="slideLeft" (click)="scrollLeft('poplist')"  >
        <!-- <span class="material-symbols-outlined">
        chevron_left
        </span> -->
        <img src="../../assets/img/arrow-prev-small-svgrepo-com.svg" alt="">
      </button>
      
      <div class="pop">
        <div class="popularScrollcontainer" #poplist>
          <a class="popularRecipeCard" *ngFor="let popRecipe of popularRecipes"routerLink="/product/{{popRecipe.recipe_id}}">
            <img class="popularRecipeImg" src="{{popRecipe.ImageUrl}}" alt="">
            <div class="likes">
             
                <div  class="likeicon">
                  <!-- <mat-icon  class="heart">favorite</mat-icon> -->
                  <img class="favIcon" src="../../assets/img/heart-svgrepo-com.svg" alt="">
                </div>
                
             
              {{popRecipe.likes}}
            </div>
           
            <h3>
              {{popRecipe.recipe_name}}
            </h3>
          </a>
        </div>
      </div>
      
      <button class="categorybutton right"id="slideRight" (click)="scrollRight('poplist')">
        <!-- <span class="material-symbols-outlined">
        chevron_right
        </span> -->
        <img src="../../assets/img/arrow-next-small-svgrepo-com.svg" alt="">
      </button>
      <!-- <div class="popularbackgraound">
          
      </div> -->
    </div>

  </div>
  
  <!-- <div class="recipeProducts">
    <div class="search">
      <input type="search" placeholder="Search for more" (ngModelChange)="searchRecipe(Searchdata)" [(ngModel)]="Searchdata" name="search" id="">
      <span class="material-symbols-rounded">
        search
        </span>
    </div>
  </div> -->



  <div class="filterRecipe" >
  <span style="width: 100%;"></span>
    <mat-select  multiple [(ngModel)]="ingredients" placeholder="Select Ingredients You Have" >
      <!-- <mat-select-trigger>
        {{ingredients?.[0] || ''}}
        <span *ngIf="(ingredients?.length || 0) > 1" class="example-additional-selection">
          (+{{(ingredients?.length || 0) - 1}} {{ingredients?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger> -->
      <mat-option *ngFor="let topping of ingredientList" [value]="topping.IngredientName">{{topping.IngredientName}}</mat-option>
    </mat-select>
      
    
   
   
   
    <mat-select   multiple [(ngModel)]="categories"placeholder="Select Category You Want "  >
  
      <mat-option *ngFor="let cat of category" [value]="cat.id">{{cat.title}}</mat-option>
    </mat-select>

    
    <input type="text" id="searchQuery"   [(ngModel)]="searchQuery" placeholder="Recipe Name " />
    <button (click)="filterRecipes()">Search</button>
    <button (click)="clear()" style="background-color: #e3681bf7;">Clear</button>

  </div>




  <div class="productFeild" *ngIf="recipes?.length">
    <div class="productcard"  *ngFor="let recipe of recipes" routerLink="/product/{{recipe.id}}">
      <img src="{{recipe?.ImageUrl}}" alt="">
      <div class="productCardCaption">
        <h3>{{recipe.RecipeName}}</h3>

      </div>
      </div>
      
              
  </div>
  <div class="productFeild" *ngIf="!recipes?.length">
    <div class="notfoundcard"  >
      <!-- <img src="../../assets/img/Vegetable Lasagna.jpeg" alt=""> -->
      <div class="noitem">
        <h3 style="color: #f13f3c;">! No Item Found</h3>

      </div>
      </div>
      
              
  </div>

</div>


