.page {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/banner_.png');
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.foodbanner {
  position: absolute;
  right: 10%;
  bottom: 26%;
}

.chillibanner {
  width: 10%;
  position: absolute;
  right: 8%;
  transform: rotate(210deg);
  top: 9%;
}

.tomatobanner {
  bottom: 4%;
  width: 10%;
  right: 2%;
  position: absolute;
}

.basilleaf {
  bottom: 20%;
  position: absolute;
  right: 28%;
  width: 10%;
  transform: rotate(30deg);
}

.greenleaves {
  position: absolute;
  width: 10%;
  transform: rotate(200deg);
  left: 5%;
  top: 3%;
}

.bannercontent h1 {
  line-height: 4rem;
  font-size: xxx-large;
}

.bannercontent h4 {
  line-height: 2rem;
  font-weight: normal;
  width: 28rem;
}

.bannercontent {
  font-family: Rockwell, 'Rockwell regular', monospace;
  margin: 9rem;
  width: 40rem;

}


.category {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 5rem 0 5rem;
}

.conts {
  display: flex;
  overflow: hidden;
  width: 80%;
  text-transform:capitalize;
}

.categorybutton {
  border: none;
  height: 6rem;
  border-radius: 10px;
  margin: 0 1rem;
  background-color: #ffff;
}

.categorybutton:hover {
  /* background-color: #fdd0bb; */
  box-shadow: 2px 5px 19px 1px #888887;
}

.card {
  width: 12rem;
  text-align: center;
  padding: 1rem;
  color: #f13f3c;
}

.card img {
  width: 12rem;
  height: 7rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 10px #9d9a9a;

}

.card a {
  color: #f13f3c;
  font-size: 1rem;
}
.card h3{
  text-shadow: 10px 10px 10px #2327;
}

.categoryfield h2 {
  color: #ee1818;
  /* font-weight: normal; */
  margin-left: 5rem;
  font-family: rockwell;
  font-weight: normal;

}

.categoryfield {
  margin-top: 4rem;
}

.titleandsearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


a {
  text-decoration: none;
}


.search {
  position: relative;
  right: 3rem;
  display: inline-flex;
  background-color: #fff0e9;
  border-radius: 1rem;
  height: 2rem;
  align-items: center;
  color: #f35450;

}

.search input {
  background-color: #ffe7dc;
  border: none;
  width: 20rem;
  border-radius: 1rem;
  text-align: center;
  font-family: rockwell;
  height: 2rem;
  color: #f35450;


}

.search input::placeholder {
  color: #f35450;

}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.popularRecipes h2 {
  color: #ee1818;
  font-family: rockwell;
  margin-left: 5rem;
  font-weight: 500;
}

.recipes {

  margin: 5rem 0 0 0;
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  position: relative;
}

.likes {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: grid;

}

.likeicon {
  border-radius: 50%;
  background-color: #fff0e9;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popularRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 0 0;
}

.popularRecipeCard {
  height: 15rem;
  position: relative;
  /* bottom: 4rem; */
  background-color: #fdd0bb;
  width: 12rem;
  /* border-radius: 1rem; */
  color: #f13f3c;
  text-align: center;
  margin: 1rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


}

.popularScrollcontainer {
  display: flex;
  overflow: hidden;
}

.pop {
  width: 60%;
}

.popularRecipeCard img {
  width: 12rem;
  height: 10rem;
}

.popularbackgraound {
  background-color: #fff0e9;
  border-radius: 1rem;
  width: 70%;
  height: 20rem;
  position: absolute;
  z-index: -1;
  top: 5rem;
}


.productFeild {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem 10rem;
  width: 80%;
  justify-content: center;
}


.productcard {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 14rem;
  margin: 1rem;
  border: thin;
  border-style: ridge;
  text-align: center;


}


.productcard:hover {
  box-shadow: 2px 5px 19px 1px #888887;
}

.popularRecipeCard:hover {

  box-shadow: 2px 5px 19px 1px #a2a2a1;
}

.productcard img {
  height: 10rem;
  width: 12rem;
}

.productCardCaption {
  text-align: center;
  background-color: #ffe7dc;
  color: #de4d49;
  height: inherit;
}

.recipeProducts {
  display: flex;
  justify-content: flex-end;
  margin: 5rem 0;
}

/* filter recipe */

input,
mat-select {
  height: 2rem;
  border: none;
  width: 100%;
  margin: 1rem;
  border-radius: 4px;
  background-color: #e8f0fe;
  font-size: 13px;
  overflow: hidden;
  display: grid;

}

input:focus {
  border-bottom: 2px;
  outline: none;
  border: aquamarine;
  border-bottom-style: groove;
}

.filterRecipe {
  margin: 5rem 5rem 0 0;
  display: flex;
  align-items: center;
}

.filterRecipe button {
  border: none;
  background-color: #359e47;
  color: aliceblue;
  border-radius: 10px;
  width: 4rem;
  height: 2rem;
  margin: 0 .5rem;
}
/* --------- */