<div class="toolbar">
  <h3>Recipee</h3>
  <span></span>
  <div class="links">
    <a href="">Home</a>
    <a routerLink="/category">Category</a>
    <a href="">Recipe Blog</a>
    <a href="">Review</a>
    <a href="">About us</a>
    <button class="loginButton">Log in</button>
  </div>
  
</div>
  <div class="page">
    <img class="greenleaves" src="../assets/img/green-leaves.png" alt="">
    <img class="foodbanner" src="../assets/img/delicious-food.png" alt="">
    <img class="chillibanner"src="../assets/img/red-chili-pepper.png" alt="">
    <img class="tomatobanner"src="../assets/img/sliced-tomato.png" alt="">
    <img class="basilleaf"src="../assets/img/basil-leaf.png" alt="">
    <div class="bannercontent">
      <h1>Experience The <br> <span style="color: #ee1818;">
        Delicious Recipe
      </span>  At <br>Every Bite Of  Your Food</h1>
      
      <h4>Discover delicious recipes that inspire. Cook with confidence using our detailed instructions. Elevate your meals and indulge in culinary delights.</h4>
    </div>
    
  </div>
  <div class="categoryfield">

    <div class="titleandsearch">
      <h2>
        Categories
      </h2>
      <div class="search">
        <input type="search" placeholder="Search for more" name="search" id="">
        <span class="material-symbols-rounded">
          search
          </span>
      </div>
     
    </div>

    <div class="category">
      <div class="card">
        <img src="../../assets/img/delicious-food.png" alt="">
        <h3>Indian</h3>
      </div>
      <div class="card">
        <img src="../../assets/img/delicious-food.png" alt="">
        <h3>Chinese</h3>
      </div>
      <div class="card">
        <img src="../../assets/img/delicious-food.png" alt="">
        <h3>Itali</h3>
      </div>
      <div class="card">
        <img src="../../assets/img/delicious-food.png" alt="">
        <h3>Thai</h3>
      </div>
    </div>
  
  </div>
  <div class="popularRecipes">

    <h2>
      Popular Recipe
    </h2>
    <div class="recipes">
      <div class="popularRecipeCard">
        <img src="../../assets/img/spicy-fried-chicken.png" alt="">
        <h3>
          Spicy Fried Chicken
        </h3>
      </div>
      <div class="popularRecipeCard">
        <img src="../../assets/img/cooked-fish.png" alt="">
        <h3>
          Cooked Fish 
        </h3>
      </div>
      <div class="popularRecipeCard">
        <img src="../../assets/img/crepe-pancake.png" alt="">
        <h3>
          Pan Cake
        </h3>
      </div>
      <div class="popularRecipeCard">
        <img src="../../assets/img/spicy-fried-chicken.png" alt="">
        <h3>
          Spicy Fried Chicken
        </h3>
      </div>
    </div>
  </div>