<div class="toolbar">
    <h3>Recipee</h3>
    <span></span>
    <div class="links">
      <a href="">Home</a>
      <a href="">Category</a>
      <a href="">Recipe Blog</a>
      <a href="">Review</a>
      <a href="">About us</a>
      <button class="loginButton">Log in</button>
    </div>
    
  </div>
  <div class="page">
    <img class="greenleaves" src="../assets/img/green-leaves.png" alt="">
    <img class="foodbanner" src="../assets/img/delicious-food.png" alt="">
    <img class="chillibanner"src="../assets/img/red-chili-pepper.png" alt="">
    <img class="tomatobanner"src="../assets/img/sliced-tomato.png" alt="">
    <img class="basilleaf"src="../assets/img/basil-leaf.png" alt="">
    <h1>Unleash your inner chef with <span style="color: #ee1818;">Recipee </span></h1>
  </div>
  <div class="category">
  
  </div>
  