.page {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/img/banner_.webp');
  position: relative;
  overflow: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
}

.foodbanner {
  position: absolute;
  right: 10%;
  top: 9vw;
  width: 20%;
}

.chillibanner {
  width: 10%;
  position: absolute;
  right: 8%;
  transform: rotate(210deg);
  top: 9%;
}

.tomatobanner {
  bottom: 4%;
  width: 10%;
  right: 2%;
  position: absolute;
}

.basilleaf {
  bottom: 20%;
  position: absolute;
  right: 28%;
  width: 10%;
  transform: rotate(30deg);
}

.greenleaves {
  position: absolute;
  width: 10%;
  transform: rotate(200deg);
  left: 5%;
  top: 3%;
}

.bannercontent h1 {
  line-height: 4vw;
  font-size: 3vw;
}

.bannercontent h4 {
  line-height: 2vw;
  font-weight: normal;
  width: 28vw;
  font-size: 1vw;
  text-align: justify;
}

.bannercontent {
  font-family: Rockwell, 'Rockwell regular', monospace;
  margin: 10vw;
  max-width: 50%;

}


.category {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 2vw 5vw 0 5vw;
}

.conts {
  display: flex;
  overflow: hidden;
  width: 80%;
  text-transform:capitalize;
}

.categorybutton {
  border: none;
  height: 6rem;
  border-radius: 10px;
  margin: 0 1vw;
  background-color: #ffff;
}

.categorybutton:hover {
  /* background-color: #fdd0bb; */
  box-shadow: 2px 5px 19px 1px #888887;
}

.card {
  width: 13vw;
  text-align: center;
  padding: 1vw;
  color: #f13f3c;
}

.card img {
  width: 12vw;
  height: 7vw;
  border-radius: 1vw;
  box-shadow: 10px 10px 10px #9d9a9a;

}

.card a {
  color: #f13f3c;
  font-size: 1vw;
}
.card h3{
  text-shadow: 10px 10px 10px #2327;
}

.categoryfield h2 {
  color: #ee1818;
  /* font-weight: normal; */
  margin-left: 5vw;
  font-family: rockwell;
  font-weight: normal;

}

.categoryfield {
  margin-top: 4vw;
}

.titleandsearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2vw;
}


a {
  text-decoration: none;
}


.search {
  position: relative;
  right: 3rem;
  display: inline-flex;
  background-color: #fff0e9;
  border-radius: 1rem;
  height: 2rem;
  align-items: center;
  color: #f35450;

}

.search input {
  background-color: #ffe7dc;
  border: none;
  width: 20rem;
  border-radius: 1rem;
  text-align: center;
  font-family: rockwell;
  height: 2rem;
  color: #f35450;


}

.search input::placeholder {
  color: #f35450;

}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.popularRecipes h2 {
  color: #ee1818;
  font-family: rockwell;
  margin-left: 5vw;
  font-weight: 500;
  font-size: 1.5vw;
}

.recipes {

  margin: 5vw 0 0 0;
  display: flex;
  justify-content: center;
  width: 90%;
  align-items: center;
  position: relative;
}

.likes {
  position: absolute;
  top: 1vw;
  right: 1vw;
  display: grid;

}

.likeicon {
  border-radius: 50%;
  background-color: #fff0e9;
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popularRecipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vw 0 0 0;
}

.popularRecipeCard {
  position: relative;
  background-color: #fdd0bb;
  width: 12vw;
  height: 13vw;
  color: #f13f3c;
  text-align: center;
  margin: 1vw;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


}

.popularScrollcontainer {
  display: flex;
  overflow: hidden;
}

.pop {
  width: 60%;
}
.popularRecipeCard h3{
  font-size: 1vw;
}
.popularRecipeCard img {
  width: 12vw;
  height: 30vh;
}

.popularbackgraound {
  background-color: #fff0e9;
  border-radius: 1rem;
  width: 70%;
  height: 20rem;
  position: absolute;
  z-index: -1;
  top: 5rem;
}


.productFeild {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vw 10vw;
  width: 80%;
  background-color: #e8f0fe;
  justify-content: flex-start;
}


.productcard {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 100%;
  margin: 1vw;
  border: thin;
  border-style: ridge;
  text-align: center;


}


.productcard:hover {
  box-shadow: 2px 5px 19px 1px #888887;
}

.popularRecipeCard:hover {

  box-shadow: 2px 5px 19px 1px #a2a2a1;
}

.productcard img {
  height: 10vw;
  width: 16vw;
}

.productCardCaption {
  text-align: center;
  background-color: #ffe7dc;
  color: #de4d49;
  font-size: 1vw;

}

.recipeProducts {
  display: flex;
  justify-content: flex-end;
  margin: 5vw 0;
}

/* filter recipe */

input,
mat-select {
  height: 2vw;
  border: none;
  width: 100%;
  margin: 1vw;
  border-radius: 4px;
  background-color: #e8f0fe;
  font-size: 0.9vw;
  overflow: hidden;
  display: grid;
  align-content: center;

}

input:focus {
  border-bottom: 2px;
  outline: none;
  border: aquamarine;
  border-bottom-style: groove;
}

.filterRecipe {
  margin: 5vw 5vw 0 0;
  display: flex;
  align-items: center;
}

.filterRecipe button {
  border: none;
  background-color: #359e47;
  color: aliceblue;
  border-radius: 10px;
  width: 4vw;
  height: 2vw;
  font-size: 1vw;
  margin: 0 0.5vw;
}
/* --------- */

@media(max-width: 600px){
  .bannercontent{
    max-width: 60%;
    margin: 15vw 0 5vw 10vw;
  }
  .bannercontent h1{
    line-height: 7vw;
    font-size: 4vw;
  }

  .bannercontent h4{
    line-height: 4vw;
    font-weight: normal;
    width: 55vw;
    font-size: 2vw;
    text-align: justify;
}
.foodbanner {
  position: absolute;
  right: 10%;
  top: 13vw;
  width: 30%;
}
.basilleaf{
  bottom: 15%;
}
.titleandsearch{
  justify-content: center;
  font-size: 2.5vw;
}
.categorybutton{
  display: none;
}
.conts,.popularScrollcontainer{
  overflow: scroll;
}
.card{
  width: 30vw;
  padding: 2vw;
}
.card a{
  font-size: 2vw;
}
.card img{
  width: 30vw;
  height: 15vw;
  border-radius: 2vw;
}
.card h3, .popularRecipes h2 {
  font-size: 3vw;
}
  .footer-col{
    width: 100%;
  }
  .popularRecipeCard{
    width: 20vw;
    height: 22vw;
    margin: 2vw;
  }
  .popularRecipeCard img{
    width: 20vw;
    height: 30vh;
  }
.likes,.popularRecipeCard h3{
  font-size: 2vw;
}


.productcard img {
  height: 20vw;
  width: 24vw;
}
.productcard{
  width: 24vw;
}
.productCardCaption{
  font-size: 2vw;
}

input, mat-select{
  width: 45%;
  margin: 1vw;
  padding: 1vw;
  font-size: 1.5vw;
}

.filterRecipe{
  margin: 2vw 10vw;
  flex-wrap: wrap;

}

.filterRecipe button{
  width: 9vw;
  height: 3vw;
  font-size: 2vw;
}

}
@media  screen and (max-width:600px){

}

@media  screen and (max-width:768px){

.bannercontent h4{

}
}