<div class="container">
    <div class="ss">
        <h2>REGISTER</h2>
        <div class="card">
            <div class="img">
                <img src="../../assets/img/Chef-bro.svg" alt="">
            </div>
            <form class="form"  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
               
             
                   <div class="elements">
                    <input   formControlName="username" placeholder="Name" required>
                    <div class="error" *ngIf="(registerForm.get('username')?.invalid && registerForm.get('username')?.touched) || registerForm.get('username')?.dirty">
                      <small *ngIf="registerForm.get('username')?.errors?.['required']" class="text-danger">Username is required !</small>
                  </div>
                   </div>
                     
                   <div class="elements">
                    <input  formControlName="email" placeholder="Email" required>
                        <div class="error" *ngIf="(registerForm.get('email')?.invalid && registerForm.get('email')?.touched) || registerForm.get('email')?.dirty">
                        
                            <small class="text-danger" *ngIf="registerForm.get('email')?.errors?.['required']">Email address is required !</small>
                            <small class="text-danger" *ngIf="registerForm.get('email')?.errors?.['pattern']">Email address is invalid !</small>
                        </div>
                   </div>
                        
                   <div class="elements">
                    <input  formControlName="phoneNumber" placeholder="Mobile No" required>
                    <div class="error" *ngIf="(registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched) || registerForm.get('phoneNumber')?.dirty">
                      <small *ngIf="registerForm.get('phoneNumber')?.errors?.['required']" class="text-danger">Mobile No is required !</small>
                  </div>
                   </div>
                     
                    <div class="elements">
                        <input required type="password" formControlName="password" placeholder="Password">
                        <div class="error" *ngIf="(registerForm.get('password')?.invalid && registerForm.get('password')?.touched) || registerForm.get('password')?.dirty">
                          <small *ngIf="registerForm.get('password')?.errors?.['required']" class="text-danger">Password is required !</small>
                          <small *ngIf="registerForm.get('password')?.errors?.['minlength']" class="text-danger">Minimum six characters required !</small>
  
                      </div>
                    </div>
                    
                      
                    <button type="submit">Submit</button>
                    
                    <a routerLink="/login" class="btn btn-link">Login</a>
                    <a href="">Forget Password ?</a>
                 
        
        
        
        
        
           
        </form>
        </div>
    
    </div>
   
    
    
</div>